body {
	font-family: Georgia, serif;
	background-color: #FCFFE7;
	margin: 0px;
}


h1 {
	color: #EB455F;
}

h2 {
	color: #3E54AC;
}

.checked {
	color: blueviolet;
}

.fa {
	font-size: 18px;
}

#footer {
	text-align: center;
	background-color: #5F8D4E;
	padding: 5px 0px;
	width: 100%;
}

#header-div {
	background-color: #5F8D4E;
	top: 0px;
	padding: 12px 0px;
	position: fixed;
	width: 100%;
	font-size: 110%;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}

#body-div {
	margin: 15px;
	margin-top: 65px;
}

.head-cell {
	text-align: center;
}

.head-element {
	text-decoration: none;
	color: #285430;
	padding: 15px 7.5px;
	background-color: #A4BE7B;
	margin: 0px 30px;
}